body{

margin:0;
font-family:Arial;

background:#f4f6fb;

}



.designer{

height:100vh;

}



header{

height:70px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

box-shadow:0 2px 10px #ddd;

}



header button{

background:#4466ff;

color:white;

border:0;

padding:12px 25px;

border-radius:10px;

}



.main{

display:flex;

height:calc(100vh - 70px);

}



.left{

width:260px;

background:white;

border-right:1px solid #ddd;

}



.center{

flex:1;

display:flex;

justify-content:center;

align-items:center;

position:relative;

}



.right{

width:300px;

background:white;

border-left:1px solid #ddd;

}